body{
    font-family: Roboto;
    background: #373B44;
background: -webkit-linear-gradient(to right, #9af875, #ff88ff);
background: linear-gradient(to right, #9af875, #ff88ff);

}

#may_tinh{
    width:320px;
    height:520px;
    background-color: #eaedef;
    top:20px;
    margin:0 auto;
    position:relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#ket_qua{
    height: 120px;
}

#ket_qua_cu{
    text-align: right;
    height:20px;
    margin:0 20px;
    padding-top:20px;
    font-size:15px;
    color:#919191;
}

#xuat_ket_qua {
    text-align: right;
    height:60px;
    margin: 10px 20px;
    font-size: 30px;
}

#ban_phim{
    height: 400px;
}

.he_thong, .con_so, .trong {
    width:50px;
    height:50px;
    margin: 15px;
    float:left;
    border-radius: 50%;
    border-width: 0;
    font-weight:bold;
    font-size:16px;
}

.con_so, .trong{
    background-color: #eaedef;
}

.he_thong, .con_so{
    cursor: pointer;
}

.he_thong:active, .con_so:active {
    font-size: 13px;
}

.he_thong:focus, .con_so:focus, .trong:focus{
    outline: 0;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #20b2aa;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #ffa500;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #f08080;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #7d93e0;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #9477af;
}
.canleft{
        text-align: left;
        padding-top: 200px;
      }
      .btn-submit {
        padding: 20px 40px;
        border-radius: 60px;
        outline: 0;
        border: 0;
        background: rgb(132, 216, 241);
        font-weight: 700;
      }
      .btn-submit:hover {
        background: #f12711;
        background: -webkit-linear-gradient(to right, #6ef8f1, #f5c866); 
        background: linear-gradient(to right, #82e9f7, #fdd275);
      }